@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.focus-color {
  color: #ec5242;
}

.focus-underline {
  background-color: #ec5242;
  width: 40px;
  height: 2px;
}

.myHeader {
  display: none;
}

nav i {
  font-size: 3.4em;
  color: #272a31;
  padding: 15px;
}

nav > div {
  display: none !important;
}

.headline {
  background-color: #d3d3d3;
}

.headline > div {
  padding: 100px 5%;
}

.headline h1 {
  font-size: 4.2em;
  font-weight: 900;
}

.headline ul {
  margin-top: 50px;
}

.headline li {
  font-size: 1.5em;
  background-color: inherit;
}

.headline i {
  margin-right: 15px;
}

.headline p {
  font-size: 1.5em;
  padding: 25px;
}

.program-section {
  background-color: #272a31;
  background-image: url("assets/images/pattern_bg.png");
  padding-bottom: 50px;
}

.program-section ul {
  gap: 1em;
}

.program-section li {
  background-color: rgba(211, 211, 211, 0.1);
  align-items: center;
  gap: 1em;
}

.program-section i {
  font-size: 3em;
}

.program-section button {
  background-color: #ec5242;
}

.featured-speakers hr {
  width: 5%;
}

.partners-section {
  background-color: #272a31;
  color: #d3d3d3;
}

.partners-section div {
  gap: 10%;
}

.partners-section img {
  width: 200px;
}

.footer div {
  background-color: #d3d3d3;
}

.past-summits {
  gap: 10px;
}

.summit {
  position: relative;
  width: 75%;
  background-color: #ec5242;
}

.summit p {
  position: absolute;
  top: 0;
  left: 0;
}
