@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico:wght@300;400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
html{
  font-size: 62.25%;
}
.logo{
  font-family: "Pacifico", sans-serif;
}
.focus-color {
  color: #ec5242;
}

.focus-underline {
  background-color: #ec5242;
  width: 40px;
  height: 2px;
}
.myHeader{
  display: none !important;
}


nav i {
  font-size: 3.4em;
  color: #272a31;
  padding: 15px;
}

nav > div {
  display: none !important;
}

.headline {
  background-color: #d3d3d3;
}

.headline > div {
  padding: 100px 5%;
}

.headline h1 {
  font-size: 3.5em;
  font-weight: 900;
}

.headline ul {
  margin-top: 50px;
}

.headline li {
  font-size: 1.5em;
  background-color: inherit;
  font-size: 1.5em;
}

.headline i {
  margin-right: 15px;
}

.headline p {
  font-size: 1.5em;
  padding: 25px;
}

.program-section {
  background-color: #272a31;
  background-image: url("assets/images/pattern_bg.png");
  padding-bottom: 50px;
}

.program-section ul {
  gap: 1em;
  padding: 2%;
}

.program-section ul li {
  position: relative;
  background-color: rgba(211, 211, 211, 0.1);
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  font-size: 1em;
  color: #d3d3d3;
  padding: 1em;
}
.program-title{
  display: flex;
  align-items: center;
  gap: 2em;
}
.program-detail{
  color: aqua;
}

.program-section i {
  font-size: 4em;
}

.program-section button {
  background-color: #ec5242;
}

.featured-speakers hr {
  width: 5%;
}
.featured-speakers img{
  width: 200px; 
  height: 200px;
}
.speakers-container{

}


.partners-section {
  background-color: #272a31;
  color: #d3d3d3;
}

.partners-container {
  gap: 10px;
  padding: 10px;
  flex-direction: column;
}
.partners-container a {
  width: 150px;
  height: 150px;
}

.partners-container img {
  width: 100%;
  height: 100%;
}

.footer div {
  background-color: #d3d3d3;
}

.past-summits {
  gap: 10px;
}

.summit {
  position: relative;
  width: 75%;
  background-color: #ec5242;
}

.summit p {
  position: absolute;
  top: 0;
  left: 0;
}

.hide {
  display: none;
}

.mobile-menu {
  background-color: #272a31;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

@media all and (min-width:768px){
  html{
    font-size: 88%;
  }
  .myHeader{
    display: flex !important;
    background-color: #272a31;
    justify-content: space-around;
  }
  nav > div{
    display: flex !important;
  }
  nav button{
    display: none;
  }
  .headline ul{
    flex-direction: row;
    justify-content: center;
  }
  .program-section ul{
    flex-direction: row;
    padding: 2% 10%;
  }
  .program-section ul li {
    flex-direction: column;
  }
  .program-title{
    flex-direction: column;
  }
  .speakers-container{
    grid-template-columns: auto auto;
    gap:2%;
    padding: 3% 10%;
    /* margin:0 10%; */
  }
  .partners-container {
    flex-direction: row !important;
    justify-content: center;
  }
}